$primary-color__gray: #5F6366;
$primary-color__white-gray: #D9D9D9;
$primary-color__blue: #4D6D9A;
$primary-color__lilac: #9AA5C3;
$primary-color__mint: #99CFD3;
$primary-color__pink: #EDB5C0;

$white: #FFF;
$dark: #000;

/*
// Основные цвета
$primary-color: #3498db;
$secondary-color: #2ecc71;
$danger-color: #e74c3c;

// Оттенки
$gray-100: #f7f7f7;
$gray-500: #c0c0c0;
$gray-900: #333333;
*/
