// TODO
// Общие переменные, такие как значения брейкпоинтов, Z-index и прочие.

// Брейкпоинты
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
/*
// Z-index
$z-index-modal: 1000;
$z-index-dropdown: 1050;
$z-index-header: 1100;
*/